<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mariana - Framework</title>

    <!-- CSS FILES -->
    <link rel="stylesheet" href="../../www/fonts/playfair-display/700i.css" >
    <link rel="stylesheet" href="../../www/fonts/quattrocento-sans/400.css" >
    <link rel="stylesheet" href="../../www/css/style.css" >

</head>
<body>
    <div id="mariana-navbar"></div>
    <div id="mariana-sidebar-left"></div>
    <div id="mariana-body"></div>
    <div id="mariana-sidebar-right"></div>
    <div id="mariana-footer"></div>
    <div id="mariana-templates">
        <template id="body">
            <h1>"Mariana"</h1>
            <div>
                {{for(var i in this.paragraph) {}}
                    <p>{{ this.paragraph[i] }}</p>
                {{ } }}
                <footer style="text-align: right"><cite title="Source Title">{{this.signature}}</cite></footer>
            </div>
    </template>
    </div>
    <div id="mariana-scripts">
        <script src="../../www/js/mariana-closet-template-engine.js"></script>
        <script>
            //  Start the template engine

            //  Set the scope
            var scope = {
                paragraph: [
                    "The simplest, yet, powerfull framework to build awesome web applications in record time.",
                    "Mariana is a PHP MVC framework built having one thing in mind: \"to be the framework with the smallest learning curve ever\". In fact, in order to effectivelly use Mariana Framework you just need to spend 10minutes reading the <a href=\"#\">documentation</a> or watching the <a href=\"#\">video</a> and that's basically it.",
                    "Mariana has another cool feature: You can download full systems and just copy and paste them. Every codeyou download from the repository has a video explaining it. This way, you don't have to loose hugeamounts of time trying to understand what's in the code. Feel free to try it on this <a href=\"#\">link</a>."
                ],
                signature: "&mdash; Built with <span class=\"red-text\">&#x2661;</span> by \"Pihh\", dedicated to Mia, the real-life <span class=\"heading\">\"Mariana\"</span>",
                link: [{
                    first: "#",
                    second: "#",
                    third: "#"
                }]
            };
            //  Choose template Id
            var template = unescapeHTML(document.getElementById("body").innerHTML);
            console.log($closet(template, scope));
            document.getElementById("mariana-body").innerHTML = $closet(template, scope);
        </script>
    </div>
</body>
</html>